<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Of HTMl EJS</h1>
    <!-- <h2>Welcome <%= name%></h2> -->

    <!--* Good ejs practises to access passed values and not throwing error if key-value pair is not found -->
    <h2>Welcome <%= locals.name %></h2>
  </body>
</html>
